<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588771316457-0jjrtat65bmqttqgk73sbadodjnovrj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588771316457-0jjrtat65bmqttqgk73sbadodjnovrj6</string>
	<key>API_KEY</key>
	<string>AIzaSyDQv5m6LaMupwxqI5BCEl8fazGSv3HurqI</string>
	<key>GCM_SENDER_ID</key>
	<string>588771316457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.codemagictest</string>
	<key>PROJECT_ID</key>
	<string>codemagictest-ee320</string>
	<key>STORAGE_BUCKET</key>
	<string>codemagictest-ee320.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588771316457:ios:02c61d01ced5cbda991678</string>
</dict>
</plist>